*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #17a494;
    --number-extracted-color: #f88d9f;
    --number-extracted-shadow: #b62727;
    --number-color: #fff;
    --number-shadow: #c9cbcc;
    --end-game-color: #864365;
    --extract-number-color: #f3a101;


    --font: "Gochi Hand", sans-serif;
}

body{
    /* font-family: var(--font); */
    background: var(--primary-color);
}

header{
    text-align: center;
    font-family: var(--font);
    color: white;
    font-size: 24px;

    padding: .5rem 0;
}

.container{
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.col-1{
    width: calc((100% / 12) * 1);

    /* width: calc(100% / 10) */
}

main{
    #table{
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
    }

    #table .card{

        width: 2.5rem;
        aspect-ratio: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--number-color);
        border-radius: 50%;
    }
}